body{
    margin:0;
    padding:0;
    height:200vh;
}

#main{
    height:50vh;
    width:50vh;
    background-color:skyblue;
    margin: 10vw 0 0 10vw;
}

#box-1{
    height:75%;
    width:75%;
    background-color:blue;
}

#box-2{
    height:75%;
    width:75%;
    background-color:purple;
}

#control-panel{
    height:75vh;
    width:60vh;
    background-color:lightgray;
    position:fixed;
    right:25pt;
    top:25pt;
}

#box-1-icon{
    display:inline-block;
    background-color:blue;
    height:17px;
    width: 17px;
}

#box-2-icon{
    display:inline-block;
    background-color:purple;
    height:17px;
    width: 17px;
}

input[type=number]{
    width:50px;
}

.inner-frame{
    display:grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
}